<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MAIN</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'falling_app/css/main.css' %}">
    <script type="text/javascript" src="{% static 'falling_app/js/main.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>
<body onload="startGame()">
<form action="/checkhigh" method="POST">

    <input type="hidden" value="test">
</form>
</body>

</html>